*/ {
    margin: 0%;
    padding: 0%;
}

.by {
    background: linear-gradient(to right,
            rgba(198, 3, 3, 0.8),
            rgb(19, 17, 17));
}
.dd{
    background-color: rgb(0, 0, 0);

    border-radius: 10px;
    
}
.tt{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.ff{
    color: maroon;
}